.parent{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 background-color: beige;
}
#child1{
height: 200px;
width: 200px;
background-color: rgb(230, 189, 189);
}
#child2{
    height: 200px;
width: 200px;
background-color: rgb(7, 7, 7);
}
#child3{
    height: 200px;
width: 200px;
background-color: rgb(227, 230, 187);
}
#child4{
    height: 200px;
width: 200px;
background-color: rgb(0, 0, 0);
}
#child5{
    height: 200px;
width: 200px;
background-color: rgb(189, 240, 229);
}
#child6{
    height: 200px;
width: 200px;
background-color: rgb(12, 12, 12);
}
#child7{
    height: 200px;
width: 200px;
background-color: rgb(221, 200, 245);
}
#child8{
    height: 200px;
width: 200px;
background-color: rgb(0, 0, 0);
}
#child9{
    height: 200px;
width: 200px;
background-color: rgb(231, 217, 189);
}
