.color{
    background-color: rgb(90, 37, 7);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:300px){
    .color{
        background-color: rgb(1, 32, 1);
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
    }
}
@media(min-width:301px) and (max-width:400px){
    .color{
        background-color: palevioletred;
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: flex-end;
    }
}
@media(min-width:401px) and (max-width:600px){
    .color{
        background-color: rgb(100, 14, 14);
        height: 400px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width:601px){
    .color{
        background-color: navy;
        height: 500px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
